.row
  -if resource.errors
    - resource.errors.full_messages.each do |message|
      -if message.scan("already confirmed")[0]
        %h2 This Email Already Confirmed 
        =link_to "Sign In Now", login_path, :class => 'btn btn-primary'
       
  %h2 
    Account Activation
    - if resource.email
      for #{resource.email}
  -# update_user_confirmation_path
  = simple_form_for(resource, :as=>resource_name, :url=>confirmation_path(resource_name), :html =>{:method=>:put,:class => 'form-horizontal'}) do |f|
    =# f.hidden_field :reset_password_token
    = f.hidden_field :confirmation_token, @confirmation_token
    .form-fields
      = f.input :password, :autofocus => true
      = f.input :password_confirmation, :autofocus => true
    .form-actions
      = f.button :submit, "Change my password", :class => 'btn-primary'
    
  = render "devise/shared/links"

