-user=@user || User.new
#request-invite.modal{:style => "display: #{user.errors.any? ? 'block' : 'none';}"}
  = simple_form_for user, :as => user, :url => registration_path(user), :html => {:class => 'form-horizontal' } do |f|
    .modal-header
      %a.close{"data-dismiss" => "modal"} ×
      %h3 Request Invitation
    .modal-body
      = f.error_notification
      = f.input :email, :placeholder => 'user@example.com'
    .modal-footer
      .btn-group4
        = f.submit "Request Invitation", :class => "btn btn-primary", :id => 'invitation_button'
        %a.btn{"data-dismiss" => "modal", :href => "#"} Close