-action = action || controller.action_name
-company = @company || @topic.company
-if company             
  .page-header
    %h1
      =link_to company_topics_path(company) do
        %i.icon-list-alt
      =link_to company.name, company
      -if action == "edit" 
        = "Edit "           
        = link_to @topic.name, company_topic_path(company, @topic)   
      -elsif action == "new"
        = "New "
      -else
        = "Photo "
        %span.small-gray
          =link_to "edit", edit_company_topic_path(company, @topic), :class => 'btn btn-mini' 
-else                          
  .page-header
    %h1 
      =link_to topics_path do
        %i.icon-list-alt
      -if action == "edit" 
        = "Edit "           
        =link_to @topic.name, topic_path(@topic)   
      -elsif action == "new"
        = "New "
      -else
        = "Photo "
        %span.small-gray
          =link_to "edit", edit_topic_path(@topic), :class => 'btn btn-mini'    
