-action = action || controller.action_name
-topic = @topic 
-parent = parent || @topic.company

.page-header.breadcrumbs
  %h2
    =link_to topics_path do
      %i.icon-list-alt
    -if action == "edit" 
      = "Edit "           
      = link_to topic.name, topic 
      = render :partial=>'shared/edit_menu', :locals=>{:entity=>topic}
    -elsif action == "new"
      = "New "
    -else
      =link_to parent.name, parent if parent
      = topic.name
      %span.small-gray
        =link_to "edit", edit_topic_path(topic)
        -if false
          %a.btn.btn-mini{"data-toggle" => "modal", :href => "#edit-topic"} edit2
