= simple_form_for(@topic, :html => { :class => 'form-horizontal' }) do |f|
  = f.error_notification

  .form-inputs
    .wide= f.input :name
    = f.input :blurb, :input_html=>{:class=>"wysihtml5"}
    = f.input :body, :input_html=>{:class=>"wysihtml5"}

  .form-actions
    = f.button :submit  
    
  -if params[:detailed]
    .form-inputs
      = f.input :keywords
      = f.input :uid
      = f.input :permalink  
      = f.input :state
      = f.input :type
      = f.input :cover
    