= simple_form_for(@topic, :html => { :class => 'form-horizontal' }) do |f|
  = f.error_notification

  .form-inputs
    = f.input :uid
    = f.input :permalink
    = f.input :name
    = f.input :keywords
    = f.input :blurb
    = f.input :body
    = f.input :state
    = f.input :type
    = f.input :cover

  .form-actions
    = f.button :submit
