- model_class = @topic.class
=render "shared/tab_bar", :locals=>{:entity=>@company}
.tab-content{:style=>"min-height: 480px;"} 
  .tab-pane.active#overview
    .row
      = render 'topics/breadcrumbs'
      -if @company             
        = render 'form_company', :locals=>{:f=>form}
      -else 
        .form-box                         
          = simple_form_for(@topic, :html => { :class => 'form-horizontal', :method=>:put }) do |f|
            .form-input-boxes 
              = f.error_notification
              .form-inputs.tight
                = f.text_field :name, :class => 'text_field' 
                .left= f.association :company, :prompt=>"Choose a Company"
                .right= f.association :brand, :prompt=>"Choose a Brand"
                .clearfix
                = f.association :categories
                = f.text_area :blurb, :class => 'wysihtml5', :style=>"height:100px;" 
                = f.text_area :body, :class => 'wysihtml5', :style=>"height:200px;"
                -if params[:detailed]
                  .form-inputs
                    = f.input :keywords
                    = f.input :permalink  
                    = f.input :cover    
                = f.submit nil, :class => 'btn btn-primary'

  .tab-pane#content
    .row
      %h1 Topics
  
  -if is_admin?
    .tab-pane#photos
      .row
        =#render :partial => "grid", :locals=>{:entities=>@mediums_new, :model_class=>model_class } 
        =render :partial=>'photos/upload_form', :locals=>{:parent=>@topic}
