- model_class = @topic.class
.tab-content{:style=>"min-height: 480px;"} 
  .tab-pane#overview
  .tab-pane.active#edit
    .row
      = render 'topics/breadcrumbs'
      -if @company             
        = render 'form_company', :locals=>{:f=>form}
      -else 
        .form-box                         
          = simple_form_for(@topic, :html => { :class => 'form-horizontal', :method=>:put }) do |f|
            .form-input-boxes 
              = f.error_notification
              .form-inputs.tight
                = f.text_field :name, :class => 'text_field'
                .left_field=f.text_field :permalink
                .left_field=f.text_field :slide_order
                .left= f.association :company, :prompt=>"Choose a Company"
                .right= f.association :brand, :prompt=>"Choose a Brand"
                .clearfix
                = f.association :categories
                = f.text_area :blurb, :class => 'wysihtml5', :style=>"height:100px;" 
                = f.text_area :body, :class => 'wysihtml5', :style=>"height:600px;"
                -if params[:detailed]
                  .form-inputs
                    = f.input :keywords
                    = f.input :permalink  
                    = f.input :cover    
                = f.submit nil, :class => 'btn btn-primary'
        .image-box 
          =render :partial=>'photos/upload_form', :locals=>{:parent=>@topic}
          
  .tab-pane#content
    .row
      %h1 Topics
  
  .tab-pane#admin
    .row
      =#render :partial => "grid", :locals=>{:entities=>@mediums_new, :model_class=>model_class } 
      =render :partial=>'photos/upload_form', :locals=>{:parent=>@topic}
