%h1 Listing topics

%table
  %tr
    %th Uid
    %th Permalink
    %th Name
    %th Keywords
    %th Blurb
    %th Body
    %th State
    %th Type
    %th Photo
    %th
    %th
    %th

  - @topics.each do |topic|
    %tr
      %td= topic.uid
      %td= topic.permalink
      %td= topic.name
      %td= topic.keywords
      %td= topic.blurb
      %td= topic.body
      %td= topic.state
      %td= topic.type
      %td= topic.photo
      %td= link_to 'Show', topic
      %td= link_to 'Edit', edit_topic_path(topic)
      %td= link_to 'Destroy', topic, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Topic', new_topic_path
