.row
  %h1
    = @topic.name
  %input#topicID{:type => "hidden", :value => @topic.id}
    %p
      = @topic.blurb.html_safe
    %h2 Pictures
= form_for [@topic, @photo], :html => { :multipart => true, :id => "fileupload"  } do |f|
  .row
    .fileupload-buttonbar
      .progressbar.fileupload-progressbar.nofade
        %div{:style => "width:0%;"}
      %span.btn.btn-mini.fileinput-button
        %i.icon-plus
        %span
          = t('photos.add_files')
          \...
        = f.file_field :image, :multiple => true
  %br
    .row
      %ul.thumbnails.files
        - unless @photos.empty?
          - @photos.each do |pic|
            %li.span3{:id => "photo_#{pic.id}"}
              .thumbnail
                %a{:href => pic.image.url, :rel => "lightbox-photos", :title => pic.blurb}
                  %img{:alt => "", :src => pic.image.thumb.url}
                .caption
                  %p{:style => "text-align: center;"}
                    %a.btn.btn-mini{:href => "/topics/#{@topic.id}/photos/#{pic.id}"}
                      %i.icon-ok
                      Show
                    %a.btn.btn-mini{:href => "/topics/#{@topic.id}/photos/#{pic.id}/edit"}
                      %i.icon-edit
                      Edit
                    %a.btn.btn-mini.btn-delete{:confirm => "Are you sure?", "data-method" => "delete", "data-remote" => "true", :href => "/topics/#{@topic.id}/photos/#{pic.id}"}
                      %i.icon-trash
                      Delete
:javascript
  var fileUploadErrors = {
    maxFileSize: 'File is too big',
    minFileSize: 'File is too small',
    acceptFileTypes: 'Filetype not allowed',
    maxNumberOfFiles: 'Max number of files exceeded',
    uploadedBytes: 'Uploaded bytes exceed file size',
    emptyResult: 'Empty file upload result'
  };
%script#template-download{:type => "text/html"}
  {% for (var i=0, files=o.files, l=files.length, file=files[0]; i<l; file=files[++i]) { %} 
  %tr.template-download.nofade
    {% if (file.error) { %}
    %td
    %td.name {%=file.name%}
    %td.size {%=o.formatFileSize(file.size)%}
    %td.error{:colspan => "2"}
      %span.label.important Error
      {%=fileUploadErrors[file.error] || file.error%}
    {% } else { %}
    %td.preview
      {% if (file.thumbnail_url) { %}
      %a{:href => "{%=file.url%}", :rel => "gallery", :title => "{%=file.name%}"}
        %img{:src => "{%=file.thumbnail_url%}"}/
      {% } %}
    %td.name
      %a{:href => "{%=file.url%}", :rel => "{%=file.thumbnail_url&&'topic'%}", :title => "{%=file.name%}"} {%=file.name%}
    %td.size {%=o.formatFileSize(file.size)%}
    %td{:colspan => "2"}
    {% } %}
    %td.delete
      %button.btn.btn-danger{"data-type" => "{%=file.delete_type%}", "data-url" => "{%=file.delete_url%}"}= t('photos.template.delete')
      %input{:name => "delete", :type => "checkbox", :value => "1"}
  {% } %}

= javascript_include_tag 'jquery.ui.widget.js'
= javascript_include_tag 'jquery.iframe-transport.js'
= javascript_include_tag 'jquery.fileupload.js'
= javascript_include_tag 'jquery.fileupload-ui.js'
.row
  .form-actions
    = link_to 'Back', topics_path, :class => 'btn btn-mini'
    = link_to 'Edit', edit_topic_path(@topic), :class => 'btn btn-mini'
    = link_to 'Delete', topic_path(@topic), :method => 'delete', :confirm => 'Are you sure?', :class => 'btn btn-mini'