-parent = @topic || @company 
-photo = @photo || Photo.create() || Photo.new

.row
  %h1= parent.name
  %input#parentID{:type => "hidden", :value => parent.id}
  %p= parent.blurb.html_safe
  
  %h4 Pictures
  = render 'photos/upload_form', :locals=>{:parent=>parent, :photo=>photo}
  = render 'photos/thumbnails', :locals=>{:parent=>parent, :photos=>parent.photos}




  .row
    .form-actions
      = link_to 'Back', topics_path, :class => 'btn btn-mini'
      = link_to 'Edit', edit_topic_path(@topic), :class => 'btn btn-mini'
      = link_to 'Delete', topic_path(@topic), :method => 'delete', :confirm => 'Are you sure?', :class => 'btn btn-mini'