%p#notice= notice

%p
  %b Uid:
  = @topic.uid
%p
  %b Permalink:
  = @topic.permalink
%p
  %b Name:
  = @topic.name
%p
  %b Keywords:
  = @topic.keywords
%p
  %b Blurb:
  = @topic.blurb
%p
  %b Body:
  = @topic.body
%p
  %b State:
  = @topic.state
%p
  %b Type:
  = @topic.type
%p
  %b Photo:
  = @topic.photo

= link_to 'Edit', edit_topic_path(@topic)
\|
= link_to 'Back', topics_path
