.form-box
  = simple_form_for(@company, :html => { :class => 'form-horizontal' }) do |f|    
    .form-input-boxes 
      %b Name
      = f.text_field :name, :class => 'text_field' 
      = f.text_area :blurb, :class => 'wysihtml5', :style=>"height:100px;" 
      = f.text_area :body, :class => 'wysihtml5', :style=>"height:200px;"
      = f.submit nil, :class => 'btn btn-primary'

    -if params[:detailed]
      .form-inputs
        = f.input :keywords
        = f.input :permalink  
        = f.input :duns
        = f.input :url
        = f.input :url2
        = f.input :cover

.image-box 
  %h1 Overview of content 