= simple_form_for(@company, :html => { :class => 'form-horizontal' }) do |f|
  = f.error_notification

  .form-inputs
    .wide= f.input :name
    = f.input :blurb, :input_html=>{:class=>"wysihtml5"}
    = f.input :body, :input_html=>{:class=>"wysihtml5"}  
    = f.association :photo   
    =# f.input :photo_id, []  Photo.select_active(current_user)    
  .form-actions
    = f.button :submit  
    
  -if params[:detailed]
    .form-inputs
      = f.input :keywords
      = f.input :uid
      = f.input :permalink  
      = f.input :state
      = f.input :type
      = f.input :duns
      = f.input :url
      = f.input :url2
      = f.input :cover
