-action = action || controller.action_name
-parent = parent || @photo.parent

-if parent             
  .page-header
    %h1
      =link_to polymorphic_path([parent, @photo]) do
        %i.icon-list-alt
      =link_to parent.name, parent
    .smaller
      -if action == "edit" 
        = "Edit "           
        = link_to @photo.name, polymorphic_path([parent, @photo])
      -elsif action == "new"
        = "New "
      -else
        = "Photo "
        %span.smaller
          =link_to "edit", polymorphic_path([parent, @photo], :action=>"edit"), :class => 'btn btn-mini' 
-else                          
  .page-header
    %h1 
      =link_to photos_path do
        %i.icon-list-alt
    .smaller
      -if action == "edit" 
        = "Edit "           
        =link_to @photo.name, photo_path(@photo)   
      -elsif action == "new"
        = "New "
      -else
        = "Photo "
        %span.smaller
          =link_to "edit", edit_photo_path(@photo), :class => 'btn btn-mini'    
        