-action = action || controller.action_name
-topic = @topic || @photo.topic
-if @topic             
  .page-header
    %h1
      =link_to topic_photos_path(@topic) do
        %i.icon-list-alt
      =link_to @topic.name, @topic
      -if action == "edit" 
        = "Edit "           
        = link_to @photo.name, topic_photo_path(@topic, @photo)   
      -elsif action == "new"
        = "New "
      -else
        = "Photo "
        %span.small-gray
          =link_to "edit", edit_topic_photo_path(@topic, @photo), :class => 'btn btn-mini' 
-else                          
  .page-header
    %h1 
      =link_to photos_path do
        %i.icon-list-alt
      -if action == "edit" 
        = "Edit "           
        =link_to @photo.name, photo_path(@photo)   
      -elsif action == "new"
        = "New "
      -else
        = "Photo "
        %span.small-gray
          =link_to "edit", edit_photo_path(@photo), :class => 'btn btn-mini'    
        