.form-box
  = simple_form_for([@parent, @photo], :html => { :class => 'form-horizontal' }) do |f|
    .form-input-boxes  
      %b Name
      = f.text_field :name, :class => 'text_field' 
      = f.association :parent
      = f.text_area :blurb, :class => 'wysihtml5'
      = f.submit nil, :class => 'btn btn-primary  btn-mini'
      = link_to "Listing", parent_path(@parent), :class => 'btn btn-mini' 
    
    -if params[:detailed]
      .form-inputs
        = f.input :keywords
        = f.input :permalink  
        = f.input :image_url
        = f.input :image_uid
        = f.input :image_name

.image-box
  =# link_to 'Default', '', :class => 'btn btn-mini btn-success' , :id => 'make_default'
  = render 'photos/upload_form', :locals=>{:parent=>@parent, :photo=>@photo}
