= simple_form_for(@photo, :html => { :class => 'form-horizontal' }) do |f|
  .form-input-boxes  
    %b Name
    = f.text_field :name, :class => 'text_field'
    = f.text_area :blurb, :class => 'wysihtml5'        
    = #f.input :topic_id, Topic.all.collect{ |t| [t.name, t.id]} 
    = f.submit nil, :class => 'btn btn-primary  btn-mini'
    = link_to "Cancel", photos_path, :class => 'btn btn-mini' 
    = link_to "Delete", photo_path(@photo), :method => 'delete', :confirm => "Are you sure?", :class => 'btn btn-mini btn-danger' 
  
.image-box
  =# image_tag @photo.image.large.url, :id => 'cropbox'
  =# link_to 'Default', '', :class => 'btn btn-mini btn-success' , :id => 'make_default'
  = render 'photos/upload_form', :locals=>{:parent=>nil, :photo=>@photo}

    


-#/ 
  = simple_form_for(@photo, :html => { :class => 'form-horizontal' }) do |f|
  .form-inputs
    = f.input :uid
    = f.input :permalink
    = f.input :name
    = f.input :keywords
    = f.input :blurb
    = f.input :state
    = f.input :type
    = f.input :image_url
    = f.input :image_uid
    = f.input :image_name
    .form-actions
      = f.button :submit                
