.form-box
  = simple_form_for(@photo, :html => { :class => 'form-horizontal' }) do |f|
    .form-input-boxes  
      = f.text_field :name, :class => 'text_field'
      
      = f.text_field :slide_order, :label=>"Order", :class => 'text_field'
      = f.text_area :blurb, :class => 'wysihtml5'        
      = #f.input :topic_id, Topic.all.collect{ |t| [t.name, t.id]} 
      = f.hidden_field :return_to, :value=>params[:return_to]
      = f.submit nil, :class => 'btn btn-primary  btn-mini'
      = link_to "Cancel", photos_path, :class => 'btn btn-mini' 
      = link_to "Delete", photo_path(@photo), :method => 'delete', :confirm => "Are you sure?", :class => 'btn btn-mini btn-danger'
    
    -if params[:detailed]
      .form-inputs
        = f.input :keywords
        = f.input :permalink  
        = f.input :image_url
        = f.input :image_uid
        = f.input :image_name
    
    
.image-box
  =# link_to 'Default', '', :class => 'btn btn-mini btn-success' , :id => 'make_default'
  = render 'photos/upload_form', :locals=>{:parent=>nil, :photo=>@photo}
