-parent = parent || @topic || @company || @category
.row.masonry
  %ul.thumbnails.files
    - unless parent.photos.empty?
      - parent.photos.each do |pic|
        %li.card{:id => "photo_#{pic.id}"}
          .thumbnail
            %a{:href => pic.image.url, :rel => "lightbox-photos", :title => pic.blurb}
              %img{:alt => "", :src => pic.image.small.url}
            .caption
              .card_edit.pull-right
                =render :partial=>'photos/edit_menu', :locals=>{:entity=>pic}
              %p{:style => "text-align: center;"}
                


     
-if false
  -photos.each do |photo|
    = image_tag photo.image.large.url, :id => 'cropbox'
    - %w[x y w h].each do |attribute|
      = hidden_field_tag "crop_#{attribute}"
    = link_to 'Default', '', :action=>'make_default', :class => 'btn btn-mini btn-success' 
    %script{:charset => "utf-8", :type => "text/javascript"}
      $(function () {
      $('#make_default').click(function(event) {
      event.preventDefault(); 
      console.log("starting"); 
      params = {photo_id : #{photo.id}, parent_id : #{parent.id}, parent_type : #{parent.class.to_s}};
      console.log("Post to make default with:, params");
      $.ajax({
      url: '#{make_default_photo_path(photo)}',
      type: 'POST',
      data: params
      });
      });
      });
