%h1 Editing photo



-if @topic             
  = render 'form_topic'
  = link_to 'Show', topic_photo_path(@topic, @photo) 
  = link_to 'Back', topic_photos_path(@topic)
-else         
  = render 'form'
  = link_to 'Show', photo_path(@photo) 
  = link_to 'Back', photos_path
  