- model_class = @photo.class
.page-header
  %h1
    =link_to @photo.topic.name, @photo.topic if @photo.topic
    = ">> Photo"
%dl.dl-horizontal
  %dd= image_tag(@photo.image.url)
  %dd= @photo.blurb

.form-actions
  = link_to "Back", photos_path, :class => 'btn'
  = link_to "Edit", edit_photo_path(@photo), :class => 'btn'
  = link_to "Delete", photo_path(@photo), :method => 'delete', :confirm => "Are you sure?", :class => 'btn btn-danger'                                                                      

-#/
  %p#notice= notice

  %p
    %b Uid:
    = @photo.uid
  %p
    %b Permalink:
    = @photo.permalink
  %p
    %b Name:
    = @photo.name
  %p
    %b Keywords:
    = @photo.keywords
  %p
    %b Blurb:
    = @photo.blurb
  %p
    %b State:
    = @photo.state
  %p
    %b Type:
    = @photo.type
  %p
    %b Image url:
    = @photo.image_url
  %p
    %b Image uid:
    = @photo.image_uid
  %p
    %b Image name:
    = @photo.image_name
  %p
    %b Topic:
    = @photo.topic

  = link_to 'Edit', edit_photo_path(@photo)
  \|
  = link_to 'Back', photos_path    
