.form-box
  = simple_form_for(@category, :html => { :class => 'form-dialog' }) do |f|    
    .form-input-boxes 
      = f.input :name
      = f.input :blurb, :class => 'wysihtml5', :style=>"height:100px;" 
      = f.input :body, :class => 'wysihtml5', :style=>"height:200px;"
      = f.submit nil, :class => 'btn btn-primary'

    -if params[:detailed]
      .form-inputs
        = f.input :keywords
        = f.input :permalink  
        = f.input :cover
        = f.input :type
        = f.text_field :cached_tag_list

.image-box 
  
