.row.companies
  #masonry.wide
    %h1 Topics
    -@products.each do |product|
      .card.product
        .thumbnail
          =link_to image_tag(product.cover_url("small")), product_path(product)
        %h4{:style=>"text-align: center;"}
          =link_to product.brand.name, product.brand
          =link_to product.name, product
        =product.photos.count
        %p
          = product.keywords
          = product.model_num
          = product.sku
          = product.sku_type

  = link_to 'New Product', new_product_path
