.tab-content{:style=>"min-height: 480px;"} 
  .tab-pane.active#overview
    .page-header
      %h1=resource.name
    .row
      .span5
        .img_box
          Images
        .info
          %b=link_to resource.brand.name, resource.brand
          %b Model num:
          = resource.model_num
          %b Sku:
          = resource.sku       
        .description
          =resource.body ? resource.body.html_safe : ""
      .span6
        %h3 Ratings & Reviews
        .rating_box
          -resource.rate_dimensions.each do |rate_dimension_id, rate_dimension_name, rate_dimension_stars|
            .rating
              .scope=rate_dimension_name
              =rating_for resource, rate_dimension_id, :star=>rate_dimension_stars
              .totals
                -ratings = resource.rates(rate_dimension_id)
                .metric=resource.average(rate_dimension_id).avg if resource.average(rate_dimension_id)
                =" over #{ratings.count} ratings" 
            .raters  
              -ratings.each do |rate|
                =rater_avatar(resource, rate, rate_dimension_id)

            
-#unless user_signed_in?
  #call-to-action
    %a.btn.btn-primary.btn-large{"data-toggle" => "modal", :href => "#request-invite"} Request invite
  .blurb=resource.blurb ? resource.blurb.html_safe : ""

=render "shared/popups_menus", :entity=>resource
=render "shared/modals"
=content_for :mixpanel_tag do 
  mixpanel.track("show product", {'product_name': "#{resource.name}", 'brand': "#{resource.brand}", 'Referrer': document.referrer});