!!!
%html
  %head
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
    %title= content_for?(:title) ? yield(:title) : "Reviews"
    =# stylesheet_link_tag "popup", :media => "all"
    = csrf_meta_tags
  
  %body{:class => "#{controller_name} #{action_name}"}
    .popup
      = yield
      .javascript
        .libs
          =javascript_include_tag "popups"
        .page
          -#/
            :javascript
              "#{content_for?(:page_js) ? yield(:page_js) : ''}"
